.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ApP--logo {
  height: 12vh;
  width: 15vh;
  pointer-events: none;
  padding: "5px";
}

/* @media (prefers-reduced-motion: no-preference) {
  .ApP--logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.app__header {
  background-color: #4375da;
  min-height: 12vh;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 0;
}

.AppLink {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appmain {
  background: rgb(234, 234, 237);
  flex: 1;
  height: 100vh;
  padding: 2vh 33vw;
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  border: 1px solid #aeb0b4;
  border-radius: 2px;
  align-items: center;
}
